{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post" class="d-flex f-col m-auto p-3">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <div class="form-signin">
        <h1 class="h3 mb-3 fw-normal text-center">Se connecter</h1>

        <div class="form-floating mb-3">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputEmail">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <label for="inputPassword">Mot de passe</label>
        </div>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-success mb-3" type="submit">
        Connexion
    </button>

    <div class="m-3">
        <a href="{{path("register")}}" class="text-primary text-decoration-none d-flex align-items-baseline">Pas de compte ? <span class="btn btn-primary px-4 ms-2">Inscivez-vous !</span></a>
    </div>

    <div class="m-3">
        <a href="{{path("accueil")}}" class="text-dark text-decoration-none"><i class="fa-solid fa-rotate-left danger"></i> Retour</a>
    </div>
</form>
{% endblock %}
