{% extends 'base.html.twig' %}

{% block title %}Parole Libre - Accueil{% endblock %}

{% block javascripts %}
    <script src="{{asset("assets/js/home.js")}}" defer></script>
{% endblock %}

{% block main %}

    <section class="container-content-header">

        <div class="container-title-header">
            <h2>Dernières publications ajoutés</h2>
        </div>

        <div class="container-carrousel-header">

            <div class="wrapper-carrousel-chevrons chevron-left">
                <i class="fa-solid fa-chevron-left"></i>
            </div>

            <div class="wrapper-carrousel-mid">
                <div class="container-carrousel-groups">
                    <div class="carrousel-group-1">
                       
                        {% for heroArticle in recentHeroArticles %}
                            <article class="container-carrousel-cards">

                                <div class="carrousel-article-category bg-{{heroArticle.category.categorySlug}}">
                                    <h4>{{heroArticle.category.name}}</h4>
                                    <h5> {{heroArticle.subtitle}} </h5>
                                </div>

                                <div class="carrousel-article-image">
                                    <a href="{{path("app_category_article", {"categorySlug": heroArticle.category.categorySlug, "id": heroArticle.id, "titleSlug": heroArticle.titleSlug} )}}">
                                        <img src="{{asset("upload_directory/" ~ heroArticle.image)}}" alt="Image de présentation de l'article '{{heroArticle.title}}'">
                                        <span>{{heroArticle.imageCaption}}</span>
                                    </a>
                                </div>

                                <div class="carrousel-article-title">
                                    <h3> {{heroArticle.title}} </h3>
                                </div>

                                <div class="carrousel-article-content">
                                    <p> {{heroArticle.content}} </p>
                                    <a href="{{path("app_category_article", {"categorySlug": heroArticle.category.categorySlug, "id": heroArticle.id, "titleSlug": heroArticle.titleSlug} )}}">Lire la suite</a>
                                </div>

                                <div class="carrousel-article-actions">
                                    <div class="article-action author"><span class="greyedOut">Auteur</span> {{heroArticle.user.pseudo}}</div>
                                    <div class="article-action publishedAt"><span class="greyedOut">le</span> {{ heroArticle.createdAt|format_datetime(pattern='d MMMM yyyy', locale='fr_FR') }}</div>
                                    <div class="article-action likes">
                                        <div>
											{% if heroArticle.getArticleCommentsCount() != 0 %}
                                                <p>{{heroArticle.getArticleCommentsCount()}}</p>
                                            {% else %}
                                                <p>0</p>
                                            {% endif %}
											<i class="fa-regular fa-comment-dots"></i>
										</div>
										<div>
											{% if heroArticle.getArticleLikesCount() != 0 %}
                                                <p>{{heroArticle.getArticleLikesCount()}}</p>
                                            {% else %}
                                                <p>0</p>
                                            {% endif %}
											<i class="fa-regular fa-thumbs-up"></i>
										</div>
                                    </div>
                                </div>
                                <input type="hidden" class="articleId" value="{{heroArticle.id}}" data-category='{{heroArticle.category.name}}'>

                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <div class="wrapper-carrousel-chevrons chevron-right">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        
        </div>
    
    </section>

    <section class="container-content-body">

    
        {# Section princpal #}
        <div class="wrapper-body-content">

            {# Auteurs #}
            <div class="container-body-authors">

                <div class="container-authors-title">
                    <h2>Auteurs</h2>
                    <a href="#" class="btnShowMore">voir plus</a>
                </div>
                
                <div class="container-authors-content">

                    <article class="categories-content-authors-cards">

                        <div class="authors-card-image">
                            <img src="{{asset("upload_directory/default_user.jpg")}}" alt="">
                        </div>
                        <div class="authors-card-name">
                            <h4>Prénom Nom</h4>
                        </div>
                        <div class="authors-card-descr">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam odit explicabo inventore est temporibus voluptas exercitationem accusamus iusto modi?...</p>
                        </div>
                        <div class="authors-card-showProfile">
                            <a href="">Voir le profile</a>
                        </div>

                    </article>

                    <article class="categories-content-authors-cards">

                        <div class="authors-card-image">
                            <img src="{{asset("upload_directory/default_user.jpg")}}" alt="">
                        </div>
                        <div class="authors-card-name">
                            <h4>Prénom Nom</h4>
                        </div>
                        <div class="authors-card-descr">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam odit explicabo inventore est temporibus voluptas exercitationem accusamus iusto modi?...</p>
                        </div>
                        <div class="authors-card-showProfile">
                            <a href="">Voir le profile</a>
                        </div>

                    </article>

                    <article class="categories-content-authors-cards">

                        <div class="authors-card-image">
                            <img src="{{asset("upload_directory/default_user.jpg")}}" alt="">
                        </div>
                        <div class="authors-card-name">
                            <h4>Prénom Nom</h4>
                        </div>
                        <div class="authors-card-descr">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam odit explicabo inventore est temporibus voluptas exercitationem accusamus iusto modi?...</p>
                        </div>
                        <div class="authors-card-showProfile">
                            <a href="">Voir le profile</a>
                        </div>

                    </article>

                    <article class="categories-content-authors-cards">

                        <div class="authors-card-image">
                            <img src="{{asset("upload_directory/default_user.jpg")}}" alt="">
                        </div>
                        <div class="authors-card-name">
                            <h4>Prénom Nom</h4>
                        </div>
                        <div class="authors-card-descr">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam odit explicabo inventore est temporibus voluptas exercitationem accusamus iusto modi?...</p>
                        </div>
                        <div class="authors-card-showProfile">
                            <a href="">Voir le profile</a>
                        </div>

                    </article>
                </div>
            </div>

            {% set i = 0 %}
            {% for categoryArticles in articles %}
                    
                <div class="container-body-categories">

                    <div class="container-categories-title">
                        <h2>{{categoryArticles[0].category.name}}</h2>
                        <a href="{{path("app_category", {"categorySlug": categoryArticles[0].category.categorySlug, "id": categoryArticles[0].category.id} )}}" class="btnShowMore">voir plus</a>
                    </div>

                    <div class="container-categories-content">

                        <div class="wrapper-body-categories-content">

                            <div class="container-body-category-title">
                                <h3>Derniers ajouts</h3>
                            </div>

                            <div class="container-body-category-content">

                                <div class="body-categories-chevrons chevron-left">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </div>

                                <div class="body-categories-cards">
                                {% for article in categoryArticles %}
                                    {% if article.paroleLibre != 1 %}
                                        <article class="body-categories-cards-container">
                                            <div class="container-card-image">
                                                <a href="{{path("app_category_article", {"categorySlug": article.category.categorySlug, "id": article.id, "titleSlug": article.titleSlug} )}}">
                                                    <img src="{{asset("upload_directory/" ~ article.image)}}" alt="{{article.imageCaption}}">
                                                </a>
                                            </div>
                                            <div class="container-card-title">
                                                <h4 class="txt-{{article.category.categorySlug}}">{{article.title}}</h4>
                                            </div>
                                            <div class="container-card-content">
                                                <p>{{article.content}}</p>
                                                <a href="{{path("app_category_article", {"categorySlug": article.category.categorySlug, "id": article.id, "titleSlug": article.titleSlug} )}}">Lire la suite</a>
                                            </div>
                                            <div class="container-card-actions">
                                                <p>
                                                    <span class="greyedOut">Auteur
                                                    </span>{{article.user.pseudo}}
                                                    <span class="greyedOut">le
                                                    </span>{{article.createdAt|format_datetime(pattern='d MMMM yyyy', locale='fr_FR')}}
                                                </p>
                                            </div>
                                            <input type="hidden" class="articleId" value="{{article.id}}" data-category='{{article.category.name}}'>
                                        </article>
                                    {% endif %}
                                {% endfor %}

                                </div>

                                <div class="body-categories-chevrons chevron-right">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>

                        <div class="wrapper-body-categories-sidebar">
                            <div class="container-body-sidebar-title">
                                <h3>Populaire (15j)</h3>
                            </div>
                            <div class="container-body-sidebar-content">
                            
                            {% for items in popularArticles %}
                                {% for popularArticle in items %}
                                    {% if popularArticle.category.name == categoryArticles[0].category.name %}
                                        <article class="container-body-sidebar-cards">
                                            <a href="{{path("app_category_article", {"categorySlug": popularArticle.category.categorySlug, "id": popularArticle.id, "titleSlug": popularArticle.titleSlug})}}#{{popularArticle.id}}">
                                                <div class="body-sidebar-cards-author">
                                                    <div class="body-sidebar-cards-author-spans">
                                                        <span class="greyedOut">Par</span>
                                                        <p>{{popularArticle.user.pseudo}}</p>
                                                    </div>
                                                    <div class="body-sidebar-cards-author-spans">
                                                        <span class="greyedOut">le</span>
                                                        <p>{{popularArticle.createdAt|format_datetime(pattern='dd/MM/yy', locale='fr_FR') }}</p>
                                                    </div>
                                                </div>
                                                <div class="body-sidebar-cards-content">
                                                    <div class="body-sidebar-cards-content-title">
                                                        <h5 class="bg-{{popularArticle.category.categorySlug}}">{{popularArticle.subtitle}}</h5>
                                                    </div>
                                                    <div class="body-sidebar-cards-content-content">
                                                        <p>{{popularArticle.title}}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% set i = i + 1 %}
            {% endfor %}
        </div>
        
        {# Sidebar #}
        <aside class="wrapper-body-sidebar">
            {% include "commons/_generic-sidebar.html.twig" %}
        </aside>
    
    </section>

{% endblock %}
