{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div>
        {% for article in articles %}
            <article class="container-carrousel-cards">

                <div class="carrousel-article-category">
                    <h4> {{article.category}} </h4>
                    <h5> {{article.subtitle}} </h5>
                </div>

                <div class="carrousel-article-image">
                    <img src="{{article.image}}" alt="Photo représentant le sujet de l'article " . {{article.title}}>
                    <span>Légende de l'image</span>
                </div>

                <div class="carrousel-article-title">
                    <h3> {{article.title}} </h3>
                </div>

                <div class="carrousel-article-content">
                    <p> {{article.content}} </p>
                </div>

                <div class="carrousel-article-actions">
                    <div class="article-action author"><span class="greyedOut">Auteur</span> Anthobdev</div>
                    <div class="article-action publishedAt"><span class="greyedOut">le</span> {{article.createdAt}}</div>
                    <div class="article-action likes">
                        <div>
                            <p>43</p><i class="fa-regular fa-comment-dots"></i>
                        </div>
                        <div>
                            <p>256</p><i class="fa-regular fa-thumbs-up"></i>
                        </div>
                    </div>
                </div>
            </article>

        {% endfor %}
    </div>

{% endblock %}
