{% extends 'base.html.twig' %}

{% block title %}{{article.title}}{% endblock %}

{% block javascripts %}
   <script src="{{asset("assets/js/article.js")}}" defer></script>
{% endblock %}

{% block main %}

   <section class="container-content-body" style="padding-top: 7rem !important; max-width: 1300px !important;">
   
      <div class="wrapper-body-content" style="background-color: #ffffff !important; flex-basis: 100% !important;">
         <article class="wrapper-body-article">
            <div class="container-article-header">

               <div class="article-header-infos">

                  <div class="article-header-infos-box" id="article-category">
                     <span id="article-category-span">
                        {{article.category.name}}
                     </span>
                  </div>
                  <div>
                     <h4>
                        {{article.subtitle}}
                     </h4>
                  </div>
                  <div class="article-header-infos-box" id="article-author">
                     <p class="author">
                        <span class="greyedOut">Auteur</span> 
                        <span class="spanRed spanSlabbold">{{article.user.pseudo}}</span> 
                        <span class="greyedOut">le</span> 
                        {{ article.createdAt|format_datetime(pattern='d MMMM yyyy', locale='fr_FR') }}
                     </p>
                  </div>
                  {% if app.user == article.user and is_granted("ROLE_WRITER") or is_granted("ROLE_ADMIN") %}
                     <div id="editButton">
                        <a href="{{path("app_article_edit", {"id": article.id})}}"><i class="fas fa-pencil-alt"></i> Modifier l'article</a>
                     </div>
                  {% endif %}

               </div>

               <div class="article-header-title">
                  <h1>
                     {{article.title}}
                  </h1>
               </div>

            </div>

            <div class="container-article-body">

               <div class="wrapper-article">

                  <div class="container-article-image">
                     <img src="{{asset("upload_directory/" ~ article.image)}}" alt="Image présentant l'article '{{article.title}}', article de la catégorie '{{article.category.name}}'">
                     <span>{{article.imageCaption}}</span>
                  </div>

                  <div class="container-article-content">
                     <p>
                        {{article.content}}
                     </p>
                  </div>

                  <div id="btnLike">
                     <a href="{{path("app_article_like_add", {"categorySlug": article.category.categorySlug, "id": article.category.id, "articleId": article.id})}}"><i class="fa-solid fa-thumbs-up"></i> J'aime cet article</a>
                  </div>

               </div>

            </div>
         </article>

         {% if app.flashes %}
            <div class="alert alert-success" style="margin: 1rem 0; padding: 0; color: var(--clr-logo-red)">
               {% for message in app.flashes('commentaryDeleted') %}
                  <p style="color: var(--clr-logo-red); margin: 1rem 0;">{{ message|trim }}</p>
               {% endfor %}
            </div>
            <div class="alert alert-success">
               {% for message in app.flashes('commentAdded') %}
                  <p style="color: var(--clr-logo-green); margin: 1rem 0;">{{ message|trim }}</p>
               {% endfor %}
            </div>
         {% endif %}

         <div class="wrapper-body-comments">
            <div class="container-comments-header">
               <h2>Commentaires</h2>
            </div>
            {% if articleComments %}
               {% for comment in articleComments %}
                  <div class="container-comments-body">
                     <div class="container-comment">
                        <div class="comment-author">
                           <p>
                              <span class="spanRed">{{comment.user.pseudo}}</span>
                              <span class="greyedOut">le</span>
                              {{ comment.createdAt|format_datetime(pattern='d MMMM yyyy', locale='fr_FR') }} 
                              <span class="greyedOut">à</span> {{ comment.createdAt|date('H') }}h{{ comment.createdAt|date('i') }}</span>

                              {% if comment.updatedAt %}
                                 <span class="greyedOut" style="margin-left: .5rem;">édité le {{comment.updatedAt|format_datetime(pattern='d MMMM', locale='fr_FR')}} à {{ comment.updatedAt|date('H') }}h{{ comment.updatedAt|date('i') }}</span>
                              {% endif %}
                           </p>
                        </div>
                        <div class="comment-content">
                           <p>{{comment.content}}</p>
                           {% if app.user and app.user == comment.user %}
                              {{ form_start(updateForms[comment.id], {"attr": {"class": "hidden"}}) }}
                                 {{ form_row(updateForms[comment.id].content) }}
                                 <button type="submit">Modifier</button>
                              {{ form_end(updateForms[comment.id]) }}
                           {% endif %}
                        </div>
                        <div class="comment-actions">
                           <div class="action-likes">
                              {% if app.user %}
                                 <a href="{{path("app_comment_like_add", {"categorySlug": comment.article.category.categorySlug, "id": comment.article.id, "commentId": comment.id} )}}">
                                    <i class="fa-regular fa-thumbs-up"></i>
                                 </a>
                              {% else %}
                                 <div style="display: inline;">
                                    <i class="fa-regular fa-thumbs-up" style="display: inline; color: var(--clr-logo-green); cursor: auto;"></i>
                                 </div>
                              {% endif %}
                              <span>
                                 {% if comment.getCommentLikesCount() != 0 %}
                                    {{comment.getCommentLikesCount()}}
                                 {% endif %}
                              </span>
                           </div>
                           <div class="action-icons">
                              {% if app.user and is_granted("ROLE_USER") %}
                                 {% if comment.user == app.user %}
                                    <i class="fas fa-pencil-alt editIcon"></i>
                                    <i class="fas fa-undo cancelIcon hidden"></i>
                                 {% endif %}

                                 {% if comment.user != app.user %}
                                    <div>
                                       <i class="fa-solid fa-triangle-exclamation"></i>
                                    </div>
                                 {% endif %}
                              {% endif %}

                              {% if app.user and is_granted("ROLE_ADMIN") %}
                                 <a href="{{path("app_article_comment_del", {"categorySlug": comment.article.category.categorySlug, "id": comment.article.id, "commentId": comment.id} )}}">
                                    <i class="fa-solid fa-trash-can"></i>
                                 </a>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                  </div>
               {% endfor %}
            {% else %}
                  <div class="container-comments-body">
                     <h5>Aucun commentaires n'a encore été rédigé pour cet article. Réagissez le premier 
                        {% if not app.user %} en vous <a href="{{path("app_login")}}">connectant!</a>
                        {% else %}!{% endif %}
                     </h5>
                  </div>
            {% endif %}
            {% if app.user %}
               <div class="container-addComment">
                  <div class="container-addComment-title">
                     <h5>Ajouter un commentaire</h5>
                  </div>
                  
                  {{form_start(commentForm, {"attr": {"class": "container-addComment-input"}} ) }}
                     <div>
                        {{form_widget(commentForm.content) }}
                        <button type="submit">Commenter</button>
                     </div>
                  {{form_end(commentForm)}}
               </div>
            {% else %}
               <div class="container-addComment">
                  <div class="container-addComment-title">
                     <h5>Réagissez à cet article en vous <a href="{{path("app_login")}}">connectant!</a></h5>
                  </div>
               </div>
            {% endif %}
         </div>
      </div>
   </section>
{% endblock %}
