{% extends 'base.html.twig' %}

{% block title %}
	{% if category != "Parole Libre" %}
		Parole Libre - {{category}}
	{% else %}
		Parole Libre
	{% endif %}
{% endblock %}

{% block javascripts %}
	<script src="{{asset("assets/js/home.js")}}" defer></script>
{% endblock %}

{% block main %}

	{% if app.current_route starts with 'category.' %}
		<section class="container-content-header" style="padding-top: 0">

			<div class="container-carrousel-header">

				<div class="wrapper-carrousel-chevrons chevron-left">
					{# <i class="fa-solid fa-chevron-left"></i> #}
				</div>

				<div class="wrapper-carrousel-mid">
					<div class="container-carrousel-groups">
						<div class="carrousel-group-1">

							{% for heroArticle in heroArticles %}
								<article class="container-carrousel-cards">

									<div class="carrousel-article-category bg-{{heroArticle.cSlug}}">
										<h4>{{heroArticle.cName}}</h4>
										<h5>{{heroArticle.subtitle}}</h5>
									</div>

									<div class="carrousel-article-image">
										{% if heroArticle.cName != "Parole Libre" %}
											<a href="{{path("article.show", {"categorySlug": heroArticle.cSlug, "titleSlug": heroArticle.titleSlug, "id": heroArticle.id} )}}">
												<img src="{{ asset("upload_directory/" ~ heroArticle.image) }}" alt="Image de présentation de l'article '{{heroArticle.title}}'">
												<span>{{heroArticle.imageCaption}}</span>
											</a>
										{% else %}
											<a href="{{path("article.show.paroleLibre", {"categorySlug": heroArticle.cSlug, "titleSlug": heroArticle.titleSlug, "id": heroArticle.id} )}}">
												<img src="{{ asset("upload_directory/" ~ heroArticle.image) }}" alt="Image de présentation de l'article '{{heroArticle.title}}'">
												<span>{{heroArticle.imageCaption}}</span>
											</a>
										{% endif %}
										
									</div>

									<div class="carrousel-article-title">
										<h3>{{heroArticle.title}}</h3>
									</div>

									<div class="carrousel-article-content">
										<p>{{heroArticle.content}}</p>
										{% if heroArticle.cName != "Parole Libre" %}
											<a href="{{path("article.show", {"categorySlug": heroArticle.cSlug, "id": heroArticle.id, "titleSlug": heroArticle.titleSlug} )}}">Lire la suite</a>
										{% else %}
											<a href="{{path("article.show.paroleLibre", {"categorySlug": heroArticle.cSlug, "id": heroArticle.id, "titleSlug": heroArticle.titleSlug} )}}">Lire la suite</a>
										{% endif %}
									</div>

									<div class="carrousel-article-actions">
										<div class="article-action author">
											<span class="greyedOut">Auteur</span> {{heroArticle.uPseudo}}
										</div>
										<div class="article-action publishedAt">
											<span class="greyedOut">le</span> {{ heroArticle.createdAt|format_datetime(pattern='d MMMM yyyy', locale='fr_FR') }}
										</div>
										<div class="article-action likes">
											<div>
												{% if heroArticle.articleCommentsCount != 0 %}
													<p>{{heroArticle.articleCommentsCount}}</p>
												{% else %}
													<p>0</p>
												{% endif %}
												<i class="fa-regular fa-comment-dots"></i>
											</div>
											<div>
												{% if heroArticle.articleLikesCount != 0 %}
													<p>{{heroArticle.articleLikesCount}}</p>
												{% else %}
													<p>0</p>
												{% endif %}
												<i class="fa-regular fa-thumbs-up"></i>
											</div>
										</div>
									</div>
									<input type="hidden" class="articleId" value="{{heroArticle.id}}" data-category="{{heroArticle.cName}}">

								</article>
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="wrapper-carrousel-chevrons chevron-right">
					{# <i class="fa-solid fa-chevron-right"></i> #}
				</div>

			</div>

		</section>
	{% endif %}

	{% if category %}
      <div class="container-content-prebody">
			<p>Vous aussi vous souhaitez publier un article ?</p>
			{% if app.user %}
				{% if app.user.isWriter %}
					<p>Alors n'attendez plus et faite valoir votre liberté d'expression! Rendez-vous <a href="{{path("article.add")}}">ici</a> pour commencer la rédaction d'un article.</p>
				{% else %}
					<p>Vous en avez la possibilité si vous ne vous êtes pas défini en tant qu'auteur lors de l'inscription d'aller modifier cela dans votre</p>
					<p><a href=""><i class="fa-solid fa-user"></i> profile</a>.</p>
				{% endif %}
			{% else %}
				<p>Pour cela, <a href="{{path("app_login")}}" class="connectionLink"><i class="fa-solid fa-right-to-bracket"></i> connectez-vous</a> ou <a href="{{path("register")}}" class="registerLink"><i class="fa-solid fa-user-plus"></i> inscrivez-vous</a> et faites valoir votre liberté d'expression!</p>
			{% endif %}
		</div>
   {% endif %}

	<section class="container-content-body">

		{# Section princpal #}
		<div class="wrapper-body-content">

			<div class="container-body-categories">
				<div class="container-body-category-title" style="display: flex;padding: 1rem 0;border-bottom: solid 2px;margin: 0 0 2rem;">
					<h2>Tous les articles</h2>
				</div>
				<div class="container-body-category-articles">

				{% for article in articles %}
					<article class="container-body-category-article">
						<div class="pastille bg-{{article.cSlug}}"></div>

						{% if article.paroleLibre %}
						<a href="{{path("article.show.paroleLibre", {"categorySlug": article.cSlug, "id": article.id, "titleSlug": article.titleSlug} )}}">
						{% else %}
						<a href="{{path("article.show", {"categorySlug": article.cSlug, "id": article.id, "titleSlug": article.titleSlug} )}}">
						{% endif %}

							<div class="wrapper-category-image">
								<img src="{{asset("upload_directory/" ~ article.image)}}" alt="{{article.imageCaption}}">
							</div>

							<div class="wrapper-category-content">

								<h3 class="txt-{{article.cSlug}}">{{article.title}}</h3>

								<p>{{article.content}}</p>
								
								<div class="container-content-footer">
									
									<div class="article-action author">
										<span class="greyedOut">Auteur</span> <span class="spanRed">{{article.uPseudo}}</span>
									</div>

									<div class="article-action publishedAt">
										<span class="greyedOut">le</span> <span>{{ article.createdAt|format_datetime(pattern='d MMMM yyyy', locale='fr_FR') }}</span>
									</div>
									
									<div class="article-action likes">
										<div>
											{% if article.articleCommentsCount != 0 %}
												<p>{{article.articleCommentsCount}}</p>
											{% else %}
												<p>0</p>
											{% endif %}
											<i class="fa-regular fa-comment-dots"></i>
										</div>
										<div>
											{% if article.articleLikesCount != 0 %}
                                    			<p>{{article.articleLikesCount}}</p>
											{% else %}
												<p>0</p>
											{% endif %}
											<i class="fa-regular fa-thumbs-up"></i>
										</div>
									</div>
									
									<input type="hidden" class="articleId" value="{{article.id}}" data-category="{{article.cName}}">
								</div>
							</div>
						</a>
					</article>
				{% endfor %}
				</div>
			</div>
		</div>

		{# Sidebar #}
		<aside class="wrapper-body-sidebar">
			<div class="container-sidebar">
				{% include "commons/_sidebar-category.html.twig" %}
			</div>
		</aside>

	</section>

{% endblock %}

