<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Parole Libre{% endblock %}</title>
        <link rel="shortcut icon" href="{{asset("favicon.ico")}}" type="image/x-icon">
        <link href="../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet"> 
        <link rel="stylesheet" href="{{asset("assets/css/style.css")}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>

        {% block header %}

            <header id="header-container">

                <div class="container-header-content">

                    <div class="container-header-icons">
                        <div class="container-boxes">
                            <div class="social-box"><a href="#" class="brand-twitter"><i class="fa-brands fa-twitter"></i></a></div>
                            <div class="social-box"><a href="#" class="brand-facebook"><i class="fa-brands fa-facebook"></i></a></div>
                            <div class="social-box"><a href="#" class="brand-tiktok"><i class="fa-brands fa-tiktok"></i></a></div>
                        </div>
                    </div>
                    <div class="container-header-logo">
                        <a href="{{path("accueil")}}">
                            <img src="{{asset("assets/img/2-logo-no-background-315x106.png")}}" alt="Logo du site d'informations 'Parole Libre'">
                        </a>
                    </div>
                    <div class="container-header-icons">
                        <div class="container-boxes no-shadows">
                            <div class="social-box"><a href="#" class="icon-search"><i class="fa-solid fa-magnifying-glass"></i></a></div>
                            <div class="social-box"><a href="#" class="icon-user"><i class="fa-solid fa-user"></i></a></div>
                        </div>
                    </div>

                </div>

                <nav class="container-header-nav">
                    <ul class="header-navlinks">
                        <li><a href="{{path("accueil")}}">Accueil</a></li>
                        <li><a href="{{path("politique")}}">Politique</a></li>
                        <li><a href="">Géopolitique</a></li>
                        <li><a href="">Économie</a></li>
                        <li><a href="">Société</a></li>
                        <li><a href="">Arts & Littératures</a></li>
                        <li><a href="">Parole Libre</a></li>
                    </ul>
                </nav>

            </header>

        {% endblock %}

        <main class="body-container">

            {% block body %}

                <div id="main-container">

                    {% block main %}{% endblock %}

                </div>

            {% endblock %}

        </main>

        {% block footer %}

            <footer id="footer-container">
            
            </footer>
            
        {% endblock %}
    </body>
</html>
