<div class="container-sidebar">

	{# Sidebar Parole Libre #}
	<div class="wrapper-sidebar-parole">

		<div class="container-parole-title">
			<h4>Dernières "Parole Libre"</h4>
		</div>

		<div class="container-parole-cards">

			{# Dernieres Parole Libre #}
			{% for parole in lastParoles %}
		
				<article class="parole-card">

					<div class="container-body-sidebar-cards">
						<div class="body-sidebar-cards-author">
							<div class="body-sidebar-cards-author-spans">
								<span class="greyedOut">Par</span>
								<p>{{parole.uPseudo}}</p>
							</div>
							<div class="body-sidebar-cards-author-spans">
								<span class="greyedOut">le</span>
								<p>{{parole.createdAt|format_datetime(pattern='dd/MM/yy', locale='fr_FR')}}</p>
							</div>
						</div>
						<div class="body-sidebar-cards-content">
							<div class="body-sidebar-cards-content-title">
								<h5>{{parole.subtitle}}</h5>
							</div>
							<div class="body-sidebar-cards-content-content">
								<p>{{parole.title}}</p>
							</div>
						</div>
					</div>
				</article>

			{% endfor %}
		</div>
	</div>
	
	{# Séparateur #}
	<div class="parole-separator"></div>

	{# Sidebar Commentaires #}
	<div class="wrapper-sidebar-comments">

		<div class="container-parole-title">
			<h4>Derniers Commentaires</h4>
		</div>

		<div class="container-parole-cards">

			{# Articles #}
			{% for comment in lastComments %}
				
				<article class="parole-card">
					<a href="{{ path("article.show", {"categorySlug": comment.cSlug, "id": comment.id, "titleSlug": comment.titleSlug}) }}#{{comment.acId}}">
						<div class="container-body-sidebar-cards">
							<div class="body-sidebar-cards-author">
								<div class="body-sidebar-cards-author-spans">
									<span class="greyedOut">Par</span>
									<p>{{comment.uPseudo}}</p>
								</div>
								<div class="body-sidebar-cards-author-spans">
									<span class="greyedOut">le</span>
									<p>{{comment.acCreatedAt|format_datetime(pattern='dd/MM/yy', locale='fr_FR') }}</p>
									<span class="greyedOut">à</span>
									<p>{{ comment.acCreatedAt|date('H') }}h{{ comment.acCreatedAt|date('i')}}</p>
								</div>
							</div>
							<div class="body-sidebar-cards-content">
								<div class="body-sidebar-cards-content-title txt-{{comment.cSlug}}">
									<h5>{{comment.title}}</h5>
								</div>
								<div class="body-sidebar-cards-content-content">
									<p>{{comment.acContent}}</p>
								</div>
							</div>
						</div>
					</a>
				</article>
			{% endfor %}

		</div>
	</div>

</div>
