<nav class="container-header-nav">
   <ul class="header-navlinks" id="header-navbar">
      <li>
         <a href="{{path("accueil")}}">Accueil</a>
      </li>
      {% for category in getCategories() %}
         {% if category.categorySlug == "parole-libre" %}
            <li class="{{category.categorySlug}}">
               <a href="{{path("category.show.paroleLibre", {"categorySlug": "articles"})}}">{{category.name}}</a>
            </li>
         {% else %}
            <li class="{{category.categorySlug}}">
               <a href="{{path("category.show", {"categorySlug": category.categorySlug}) }}">{{category.name}}</a>
            </li>
         {% endif %}
      {% endfor %}
      <div class="dropdown">
         <i class="fa-solid fa-caret-down dropbtn"></i>
         <ul class="dropdown-content">
            {% for category in getCategories() %}
               <li class="{{category.categorySlug}}">
                  <a href="{{path("category.show.paroleLibre", {"categorySlug": category.categorySlug})}}">{{category.name}}</a>
               </li>
            {% endfor %}
         </ul>
      </div>
   </ul>
</nav>