<div class="container-header-content">
   <div class="container-header-icons">
      <div class="container-boxes">
         <div class="social-box info-pop" data-descr="Twitter">
            <a href="https://twitter.com/" target="blank" class="brand-twitter"><i class="fa-brands fa-twitter"></i></a>
         </div>
         <div class="social-box info-pop" data-descr="Facebook">
            <a href="https://facebook.com/" target="blank" class="brand-facebook"><i class="fa-brands fa-facebook"></i></a>
         </div>
         <div class="social-box info-pop" data-descr="Tiktok">
            <a href="https://www.tiktok.com/explore" target="blank" class="brand-tiktok"><i class="fa-brands fa-tiktok"></i></a>
         </div>
      </div>
   </div>
   <div class="container-header-logo">
      <a href="{{path("accueil")}}">
         <img src="{{asset("assets/img/2-logo-no-background-315x106.png")}}" alt="Logo du site d'informations 'Parole Libre'">
      </a>
   </div>
   <div class="container-header-icons">
      <div class="container-boxes no-shadows">
         {# <div class="social-box"><a href="#" class="icon-search"><i class="fa-solid fa-magnifying-glass"></i></a></div> #}
         {% if is_granted("ROLE_USER") %}
            {% if is_granted("ROLE_WRITER") or is_granted("ROLE_AUTHOR") %}
               <div class="social-box info-pop" data-descr="Nouvel article"><a href="{{path("article.add")}}" class="icon-plus"><i class="fa-solid fa-plus"></i></a></div>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
               <div class="social-box info-pop" data-descr="Panel admin"><a href="{{path("admin.index")}}" class="icon-user"><i class="fa-solid fa-gear"></i></a></div>
            {% endif %}
            <div class="social-box info-pop" data-descr="Profil">
               <a href="{{path("profil")}}" class="icon-user"><i class="fa-solid fa-user"></i></a>
            </div>
            <div class="social-box info-pop" data-descr="Déconnexion"><a href="{{path("logout")}}" class="icon-user"><i class="fa-solid fa-right-from-bracket"></i></a></div>
         {% else %}
            <div class="social-box info-pop" data-descr="Connexion"><a href="{{path("login")}}" class="icon-user"><i class="fa-solid fa-right-to-bracket" style="color: var(--clr-logo-green);"></i></a></div>
         {% endif %}
         <div class="social-box burger" id="burger">
            <div class="top-bar"></div>
            <div class="middle-bar"></div>
            <div class="bottom-bar"></div>
         </div>
      </div>
   </div>
</div>

<div id="burger-nav">
   <div class="btnClose"><i class="fa-solid fa-xmark"></i></div>
   <h5>Menus</h5>

   <a href="{{path("accueil")}}" class="burger-navlink"><i class="fa-solid fa-house"></i>Accueil</a>

   {% if app.user %}
      {# <a href="{{path("profil")}}" class="burger-navlink"><i class="fa-solid fa-user"></i>Profil</a> #}

      {% if is_granted("ROLE_ADMIN") %}
         <a href="{{path("admin.index")}}" class="burger-navlink"><i class="fa-solid fa-gear"></i>Panel admin</a>
      {% endif %}

      <a href="{{path("logout")}}" class="burger-navlink"><i class="fa-solid fa-right-from-bracket"></i>Déconnexion</a>

   {% else %}

      <a href="{{path("login")}}" class="burger-navlink"><i class="fa-solid fa-right-to-bracket" style="color: var(--clr-logo-green);"></i>Connexion</a>

   {% endif %}
   <div class="container-burger-links">
      <h5>Navigation</h5>
      <nav>
         <ul>
            {% for category in getCategories() %}
               <li class="burger-navlink"><a href="{{path("category.show", {"categorySlug": category.categorySlug, "id": category.id}) }}">{{category.name}}</a></li>
            {% endfor %}
         </ul>
      </nav>
   </div>
   <div class="container-nav-socials">
      <h5 id="nopad">Réseaux sociaux</h5>
      <div>
         <div class="social-box"><a href="https://twitter.com/" target="blank" class="brand-twitter"><i class="fa-brands fa-twitter"></i></a></div>
         <div class="social-box"><a href="https://facebook.com/" target="blank" class="brand-facebook"><i class="fa-brands fa-facebook"></i></a></div>
         <div class="social-box"><a href="https://www.tiktok.com/explore" target="blank" class="brand-tiktok"><i class="fa-brands fa-tiktok"></i></a></div>
      </div>
   </div>
</div>