
{# Sidebar Commentaires #}
<div class="wrapper-sidebar-comments">

	<div class="container-parole-title">
		<h4 class="txt-align-center">Derniers Commentaires {% if lastCategoryComments %}<br>'{{lastCategoryComments[0].name}}'{% endif %}</h4>
	</div>

	<div class="container-parole-cards">

		{# Articles #}
		{% for comment in lastCategoryComments %}
			{% if comment.cId %}
				<article class="parole-card">
					<a href="{{ path("app_category_article", {"categorySlug": comment.categorySlug, "id": comment.id, "titleSlug": comment.titleSlug}) }}#{{comment.cId}}">
						<div class="container-body-sidebar-cards">
							<div class="body-sidebar-cards-author">
								<div class="body-sidebar-cards-author-spans">
									<span class="greyedOut">Par</span>
									<p>{{comment.pseudo}}</p>
								</div>
								<div class="body-sidebar-cards-author-spans">
									<span class="greyedOut">le</span>
									<p>{{comment.createdAt|format_datetime(pattern='dd/MM/yy', locale='fr_FR') }}</p>
									<span class="greyedOut">à</span>
									<p>{{ comment.createdAt|date('H') }}h{{ comment.createdAt|date('i')}}</p>
								</div>
							</div>
							<div class="body-sidebar-cards-content">
								<div class="body-sidebar-cards-content-title txt-{{comment.categorySlug}}">
									<h5>{{comment.title}}</h5>
								</div>
								<div class="body-sidebar-cards-content-content">
									<p>{{comment.content}}</p>
								</div>
							</div>
						</div>
					</a>
				</article>
			{% endif %}
		{% endfor %}
	</div>
</div>
