<nav class="container-header-nav">
   <ul class="header-navlinks">
      <li><a href="{{path("accueil")}}">Accueil</a></li>
      <li><a href="{{path("politique")}}">Politique</a></li>
      <li><a href="{{path("geopolitique")}}">Géopolitique</a></li>
      <li><a href="{{path("economie")}}">Économie</a></li>
      <li><a href="{{path("societe")}}">Société</a></li>
      <li><a href="{{path("artsLitteratures")}}">Arts & Littératures</a></li>
      <li><a href="{{path("paroleLibre")}}">Parole Libre</a></li>
   </ul>
</nav>