<nav class="container-header-nav">
   <ul class="header-navlinks">
      <li><a href="{{path("accueil")}}">Accueil</a></li>
      <li><a href="{{path("app_category_politique")}}">Politique</a></li>
      <li><a href="{{path("app_category_geopolitique")}}">Géopolitique</a></li>
      <li><a href="{{path("app_category_economie")}}">Économie</a></li>
      <li><a href="{{path("app_category_societe")}}">Société</a></li>
      <li><a href="{{path("app_category_artsLitteratures")}}">Arts & Littératures</a></li>
      <li><a href="{{path("app_category_paroleLibre")}}">Parole Libre</a></li>
   </ul>
</nav>